.chef {
    display: grid;
    position: relative;
    margin: 50px auto;
    height: 400px;
    width: 100vw;
   

 &:before {
        content:"";
        position: absolute;
        background: url(../img/avatar-02.jpg) center/cover;
        left: 50%;
        top:-30px;
        transform: translateX(-50%);
        height: 80px;
        width: 80px;
        border-radius: 150px;
        z-index: 1500;
 }     
    
.p-chef {
    position: relative;
    width: 80%;
    height: 300px;
    margin: 30px auto;
    background: $white1;
    color: $black1;
    padding: 50px;
    font-family: $font3;
    line-height: 30px; 
    
h2 {
    font-family: $font3;
    line-height: 30px;
    margin-top: 30px;
}
h5{
    font-family: $font3;
    color: $text2;
    margin-top: 15px;
    }


}
&:after {
    content:"";
    background:url(../img/gmap.jpg);
    position: absolute;
    left: 0;
    top: 156px;
    height: 500px;
    width: 100%;
    z-index: -100;
    // overflow: hidden;
    }
}